<html>

<header>

<script src="{{ asset('./js/jquery-3.2.1.js', absolute=true) }}"></script>
<script src="{{ asset('./js/script.js', absolute=true) }}"></script>
<!-- Bootstrap -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href=" {{ asset('./css/stylehome-pdf.css', absolute=true) }} "/>




</header>


<body>


<div class="loadTemplate">


  <div class="template1" style=" background-image: url('     {{ asset('./img/template1s.png', absolute=true) }}     ')" >
    <div class=top>
    <div class="name">
      <h1>{{ users[0].fname }} {{ users[0].lname }}</h1>

    </div>
    <div class="status">
      <h3>{{ users[0].status }}</h3>
    </div>
      </div>
      <div class="towhom">
        <h3>{{ users[0].towhom }}</h3>
      </div>
    <div class="content">

      <div class="dear">
        <h4>{{ users[0].dear }}</h4>
      </div>
      <div class="paragraph1">
          <h5>{{ users[0].TextOne }}</h5>
      </div>
      <div class="paragraph2">
          <h5>{{ users[0].TextTwo }}</h5>
      </div>
      <div class="paragraph3">
          <h5>{{ users[0].TextThree }}</h5>
      </div>
      <div class="signature">
        <div class="first"><h4>{{ users[0].greetings }}</h4></div>
        <div class="second"><h4>{{ users[0].signature }}</h4></div>
      </div>

    </div>
    <div class="footer">
      <div class = 'tel'>
        <h4> | </h4>
        <h5> {{users[0].tel }}  &nbsp;</h5>
      </div>
      <div class = 'email'>
        <h4> | </h4>
        <h5> {{ users[0].email }} </h5>
        <h4> &nbsp; </h4>
      </div>
      <div class = 'adress'>
        <h4> |  </h4>
        <h5>  {{ users[0].address }} </h5>
        <h4> |  </h4>
      </div>

    </div>
  </div>



</div>




</body>

</html>
