{% if users is defined %}
<div class="left-input">
  <form class="well">
        <label>First Name : </label>
        <div class="form-group"><input id="fname" placeholder="Nina" type="text" value="{{ users[1].fname }}"></div>

        <label>Last Name : </label>
        <div class="form-group"><input id="lname" placeholder="Shaw" type="text" value="{{ users[1].lname }}"></div>

        <label>Status : </label>
        <div class="form-group"><input id="status" placeholder="Web Designer" type="text" value="{{ users[1].status }}"></div>

        <label>Adress : </label>
        <div class="form-group"><input id="adress" placeholder="14 avenue ..." type="text" value="{{ users[1].address }}"></div>

        <label>Telephone : </label>
        <div class="form-group"><input id="tel" placeholder="+33 6 75 16 94 23" type="text" value="{{ users[1].tel }}"></div>

        <label>Email : </label>
        <div class="form-group"><input id="email" placeholder="hamza@email.com" type="text" value="{{ users[1].email }}"></div>

        <label>To : </label>
        <div class="form-group"><input id="to" placeholder="To whome who may concern " type="text" value="{{ users[1].towhom }}"></div>

        <label>Destinataire :</label>
        <div class="form-group">   <input id="dear" placeholder="Dear" type="text" value="{{ users[1].dear }}"></div>

        <div class="form-group"><label>Parapgraph 1</label></div>
        <div class="form-group"><textarea class="input-xlarge" id="message1" name="message"rows="2" >{{ users[1].TextOne }}</textarea></div>

        <div class="form-group"><label>Paragraph 2</label></div>
        <div class="form-group"><textarea class="input-xlarge" id="message2" name="message"rows="2" >{{ users[1].TextTwo }}</textarea></div>

        <div class="form-group"><label>Paragraph 2</label></div>
        <div class="form-group"><textarea class="input-xlarge" id="message3" name="message"rows="2" >{{ users[1].TextThree }}</textarea></div>

        <label>Greetings :</label>
        <div class="form-group"> <input id="cordialement" placeholder="Cordialement" type="text" value="{{ users[1].greetings }}"></div>

        <label>Signature :</label>
        <div class="form-group">   <input id="signature" placeholder="Hamza H." type="text" value="{{ users[1].signature }}"></div>



        <div class="form-group">       <a href="{{ path('logout') }}" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a></div>

          </form>


          </div>

{% endif %}



<div class="template2" style=" background-image: url('     {{ asset('./img/template2.png') }}     ') ">
<div class="left-con">


  <div class="letterone">
    <h1>  </h1>
  </div>
  <div class="lettertwo">
    <h1>  </h1>
  </div>

  <div class="name">
    <h2>{{ users[1].fname}} {{ users[1].lname }}  </h2>
  </div>

  <div class="status">
    <h5>{{ users[1].status }}</h5>
  </div>

  <div class="adress">
    <h4> | </h4>
    <h5>{{ users[1].address }}</h5>
    <h4> | </h4>
  </div>
  <div class="tel">
    <h4> | </h4>
    <h5>{{ users[1].tel }} </h5>
    <h4> | </h4>
  </div>
  <div class="email">
    <h4> | </h4>
    <h5>{{ users[1].email }}</h5>
    <h4> | </h4>
  </div>

</div>
<div class="right-con">
  <div class="towhom">
    <h3> {{ users[1].towhom }} </h3>
  </div>
  <div class="content">

    <div class="dear">
      <h4>{{ users[1].dear }}</h4>
    </div>
    <div class="paragraph1">
      <h5>{{ users[1].TextOne }}</h5>
    </div>
    <div class="paragraph2">
      <h5>{{ users[1].TextTwo }}</h5>
    </div>
    <div class="paragraph3">
      <h5>{{ users[1].TextThree }}</h5>
    </div>
    <div class="signature">
      <div class="first">
        <h4>{{ users[1].greetings }}</h4>
      </div>
      <div class="second">
        <h4>{{ users[1].signature }}</h4>
      </div>

    </div>
  </div>
</div>
</div>
